@font-face {
    font-family: Roboto-Bold;
    src: url(/assets/fonts/RobotoCondensed-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Roboto-SemiBold;
    src: url(/assets/fonts/RobotoCondensed-SemiBold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(/assets/fonts/Poppins-Regular.ttf) format(truetype);
    font-display: swap;
}

/* Header */

.category-button,
.container-profile>p {
    color: #d6d6d6;

    font-family: Roboto;
    font-style: italic;
    font-size: 0.9rem;
}

/* Main */

h1 {
    color: #1b1b1b;

    font-family: Roboto-Bold;
    font-size: 1.8rem;
}

.dish-description>h2,
.category-drink-item>h2 {
    color: #1b1b1b;

    font-family: Roboto-SemiBold;
    font-size: 1.4rem;
}

.dish-description>p:first-child,
.category-drink-item>p,
.beverage-description>p {
    color: #1b1b1b;

    font-family: Poppins;
    font-size: 0.8rem;

    line-height: 17px;
}

.dish-description>p:last-child,
.category-drink-item>p:last-child {
    font-size: 1rem;
}

.beverage-description>h2 {
    font-size: 1.6rem;
}

.beverage-description>p {
    font-size: 0.9rem;
}

/* Footer */
.creator-name {
    color: #d6d6d6;

    font-family: Roboto;
    font-size: 1.1rem;
}

.footer-thanks>span {
    color: #d6d6d6;

    font-family: Roboto;
    font-size: 0.8rem;

    line-height: 38px;
}