footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "social-rest social-criador"
        "titulo titulo";

    justify-content: center;
    align-items: center;

    background-color: #1b1b1b;

    padding: 10px 10px;
}

.social-rest {
    display: grid;
    grid-template-areas:
        "logo-rest logo-rest"
        "sr1 sr2";
    justify-content: center;

    grid-area: social-rest;

    margin-bottom: 10px;
}

.social-creator {
    display: grid;
    grid-template-areas:
        "logo-criador logo-criador"
        "sc1 sc1";
    justify-content: center;

    grid-area: social-criador;

    margin-bottom: 10px;
}

.logo-footer {
    margin-bottom: 20px;

    width: 8rem;

    grid-area: logo-rest;
}

.social-img {
    width: 3rem;
}

.sr1 {
    grid-area: sr1;
}

.sr2 {
    grid-area: sr2;
}

.sc1 {
    grid-area: sc1;
    justify-self: flex-start;
}

.sc2 {
    grid-area: sc2;
    margin-left: 6px;
}

.logo-creator {
    display: flex;
    align-items: center;
    grid-area: logo-criador;

    width: 128px;

    margin-bottom: 20px;
}

.img-creator {
    width: 2.49rem;

    margin-right: 8px;

    border-radius: 50%;
}

.title-footer {
    text-align: center;

    border-top: 1px solid #d6d6d6;

    grid-area: titulo;
}