footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "restaurant-social creator-infor"
        "thanks thanks";

    justify-content: center;
    align-items: center;

    background-color: #1b1b1b;

    padding: 10px 10px;
}

.restaurant-social {
    display: grid;
    grid-template-areas:
        "restaurant-logo restaurant-logo"
        "sr1 sr2";
    justify-content: center;

    grid-area: restaurant-social;

    margin-bottom: 10px;
}

.creator-infor {
    display: grid;
    grid-template-areas:
        "creator-profile creator-profile"
        "github whatsapp2";
    justify-content: center;

    grid-area: creator-infor;

    margin-bottom: 10px;
}

.social-icon {
    width: 3rem;
}

.instagram {
    grid-area: instagram;
}

.whatsapp1 {
    grid-area: whatsapp1;
}

.github {
    grid-area: github;
    justify-self: flex-start;
}

.whatsapp2 {
    grid-area: whatsapp2;
    margin-left: 6px;
}

.creator-profile {
    display: flex;
    align-items: center;
    grid-area: creator-profile;

    width: 128px;

    margin-bottom: 20px;
}

.footer-thanks {
    text-align: center;

    border-top: 1px solid #d6d6d6;

    grid-area: thanks;
}