* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background: #1b1b1b;

    padding-top: 30px;

    text-align: center;
}

#introdution {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    animation: fadeOut 1.7s ease forwards;
    animation-delay: 1.5s;
    z-index: 10;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.introdution-image {
    height: 10vh;
}

.container-profile {
    border-bottom: 2px solid #000000;
}

.profile-img {
    width: 9.9rem;
    opacity: 0.8;

    margin-bottom: 10px;
}

.container-category {
    padding: 7px 10px;

    border-bottom: 2px solid #000000;

    overflow-x: scroll;
    white-space: nowrap;
}

.container-category::-webkit-scrollbar {
    display: none;
}

.category-button {
    background: none;
    border: none;
    padding: 0.2px 2px;

    cursor: pointer;
}

.category-button:hover {
    border-bottom: 2px solid #d6d6d6;
}