/* Joker */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General Header */
header {
    background: var(--main-bg-color);

    padding-top: 30px;

    text-align: center;
}

/* Introduciton Menu */
#introduction {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    animation: fadeOut 1.7s ease forwards;
    animation-delay: 1.5s;
    z-index: 10;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Restaurant */
.container-profile {
    border-bottom: 2px solid var(--first-border-color);
}

/* Category */
.container-category {
    padding: 8px 10px;

    border-bottom: 2px solid var(--first-border-color);

    overflow-x: scroll;
    white-space: nowrap;
}

.container-category::-webkit-scrollbar {
    display: none;
}

.category-button {
    background: none;
    border: none;
    padding: 0.2px 2px;

    cursor: pointer;
}

.category-button:hover {
    border-bottom: 2px solid var(--second-border-color);
}