/* Header Images */
.introduction-image {
    max-height: 10vh;
}

.profile-img {
    opacity: 0.8;

    margin-bottom: 10px;
}

/* Main Images */
.happy-image {
    height: 60vw;
    width: auto;
    object-fit: cover;

    flex: 1 1 0;
    width: 25%;
}

.happy-video {
    height: 60vw;
    width: auto;
    object-fit: cover;

    flex: 1 1 0;
    width: 100%;
}

.dish-image,
.cocktail-image {
    width: 100%;
    height: 40vw;

    object-fit: cover;
    overflow: hidden;

    transition: height 0.7s ease-out;
}

.category-dish-item.visible>img {
    height: 60vw;
}

.cocktail-item.visible>img {
    height: 80vw;
}

.beverage-image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

/* Footer Images */
.restaurant-logo-footer {
    margin-bottom: 20px;

    grid-area: restaurant-logo;
}

.creator-image {
    height: auto;
    margin-right: 8px;

    border-radius: 50%;
}