body {
    background-image: url(/assets/imgs/bg/praça-12-abril.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    -webkit-box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
    box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
}

.categoria {
    display: none;

    margin-bottom: 20px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bloco-categorias>h1 {
    padding: 20px 0px;

    text-align: center;
}

.bloco-categorias>p {
    margin-bottom: 15px;
}

.prato,
.bebida {
    margin-bottom: 50px;
}

.prato:last-child,
.bebida {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.prato>img {
    width: 100%;
    height: 110px;

    object-fit: cover;
    overflow: hidden;

    transition: height 0.7s ease-out;
}

.prato.visible img {
    height: 220px;
}

.fig-prato,
.bebida {
    margin: 0px 30px;
}

.fig-prato>h2,
.bebida>h2 {
    border-bottom: 2px solid #1b1b1b;
}