body {
    background-image: url(/assets/imgs/bg/praça-12-abril.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    -webkit-box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
    box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
}

ul {
    list-style: none;
}

.main-category {
    display: none;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.main-category>h1 {
    text-align: center;
    padding: 20px 0px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.category-list {
    display: grid;
    gap: 40px;
}

.category-dish-item:last-child,
.cocktail-item>:last-child {
    padding-bottom: 40px;
}

.dish-image, .cocktail-image {
    width: 100%;
    height: 30vw;

    object-fit: cover;
    overflow: hidden;

    transition: height 0.7s ease-out;
}

.category-dish-item.visible>img {
    height: 70vw;
}

.cocktail-item.visible>img {
    height: 80vw;
}

.dish-description,
.drink-item,
.cocktail-description {
    margin: 0px 30px;
}

.dish-description>h2,
.drink-item>h2,
.cocktail-description>h2 {
    border-bottom: 2px solid #1b1b1b;
}

.club-description {
    text-align: center;
    margin-bottom: 30px;
}

.category-beverage {
    display: flex;
    gap: 40px;

    padding-bottom: 30px;

    overflow-x: scroll;
}

.category-beverage::-webkit-scrollbar {
    display: none;
}

.category-beverage-item {
    display: flex;
    gap: 10px;
    padding: 0px 20px;
}

.beverage-image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.beverage-description {
    max-width: 115px;
}

.beverage-description>p {
    margin: 10px 0px;
}

.club-description {
    text-align: center;
    margin-bottom: 20px;
}