body {
    background-image: url(/assets/imgs/bg/praça-12-abril.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    -webkit-box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
    box-shadow: inset 0px -111px 95px -24px rgba(0, 0, 0, 0.32);
}

.prato-intro {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
  }

.prato-intro.visivel {
    opacity: 1;
    pointer-events: auto;
  }

.prato-intro>img {
    width: 300px;
    height: auto;
  }

.intro {
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.categoria {
    display: none;

    margin-bottom: 20px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bloco-categorias>h1 {
    padding: 30px 0px;

    text-align: center;
}

.bloco-categorias>p {
    margin-bottom: 15px;
}

.prato,
.bebida {
    margin-bottom: 50px;
}

.prato:last-child,
.bebida {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.prato>img {
    width: 100%;
    height: 110px;

    object-fit: cover;
    overflow: hidden;

    transition: height 0.7s ease-out;
}

.prato.visible img {
    height: 220px;
}

.fig-prato,
.bebida {
    margin: 0px 30px;
}

.fig-prato>h2,
.bebida>h2 {
    border-bottom: 2px solid #1b1b1b;
}

.bloco-categorias-dest {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.cont-whisky {
    display: inline-block;
    position: relative;
}

.cont-whisky>img {
    width: 140px;
    height: 140px;
}

.cont-whisky>figcaption {
    max-width: 30px;

    position: absolute;
    top: 0;
}