/* Category */
.container-category {
    padding: 8px 10px;

    border-bottom: 2px solid var(--first-border-color);

    overflow-x: scroll;
    white-space: nowrap;
}

.container-category::-webkit-scrollbar {
    display: none;
}

.category-button {
    background: none;
    border: none;
    padding: 0.2px 2px;

    cursor: pointer;
}

.category-button:hover {
    border-bottom: 2px solid var(--second-border-color);
}