/* Category */
.container-category {
    background: #2e2e2e;
    background: linear-gradient(0deg, rgba(46, 46, 46, 1) 2%, rgba(99, 99, 99, 1) 50%, rgba(46, 46, 46, 1) 100%);

    padding: 11px 10px;

    border-bottom: 4px solid var(--first-border-color);

    overflow-x: scroll;
    white-space: nowrap;
}

.container-category::-webkit-scrollbar {
    display: none;
}

.category-button {
    background: none;
    border: none;
    padding: 0.2px 2px;

    cursor: pointer;
}

.category-button:hover {
    border-bottom: 2px solid var(--second-border-color);
}